# Presence-WebSocket — integrierter Express-Server
VITE_PRESENCE_WS_URL=wss://office2.freischule.info

# Auth-Service
VITE_AUTH_URL=https://auth.freischule.info

# Object- und Media-Service
VITE_OBJECT_URL=https://object.freischule.info
VITE_MEDIA_URL=https://media.freischule.info

# Message-Service
VITE_MESSAGE_URL=https://message.freischule.info

# LiveKit — TURN erzwingen (für restriktive Netzwerke)
VITE_LIVEKIT_FORCE_TURN=false
